body {
  background-image: url("/CSS/img.css/background.jpg");
  background-position: center;
  display: flex;
  flex-direction:column;
  }
  
  header {
    background-color: #d83447;
    height: 60px;
    justify-content: flex-start;

   
  }
  
   .header1 {
    display: flex;
    flex-direction:row;
    
  }
  
  img {
    width: 35px;
    height: 35px;
    border-radius: 15%;
    
  }
   .img1 {
    
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   padding: 0px 10px;
  }
  
  h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;
  
  
  }
  
  
  .d6 {
    list-style-type: none;
    overflow: hidden;
    background-color: #33;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 20px 550px;
   gap: 90px
  }

  
  .d5 a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  

  .h22 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 31px;
    font-weight: 700;
    color: rgb(76, 76, 76);
    display: flex;
   justify-content: center;
   padding: 25px;


  }



  .table1 {
   display: flex;
   justify-content: center;
   padding: 20px;
  }

  table {
    text-align: center;
    
}
td, th {
  border: 1px solid black;
}


.clas1 {
  
  width: 650px;
  height: 50px;
  background-color: #444;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.clas2 {
  
  width: 150px;
  height: 50px;
  background-color: #444;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  
}


.tablee {
  width: 150px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
}

  .tableee {
  width: 650px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  
}




  .footer1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  padding: 40px 70px;
  padding-top: 100px;
}

  h4 {
  color: rgb(129, 129, 129);
  
}

.footer2 {
  font-size: 15px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;


}

section ul li {

  color: rgb(26, 26, 26);
  

}
.footer3 {
  font-size: 35px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ul1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ul2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.footer4 {
  height: 30px;
  background-color: #444;
  color: rgb(196, 196, 196);
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

